.footer-help {
  @include wrap;
  text-align: center;
  margin: 0 auto;

  hr {
    margin: 0;
    height: 2px;
    color: $lightgrey;
    margin-bottom: 4px;
  }
}

.footer-help__btn {
  @include btn-outline($dodgerblue);
}
