.inner-header {
  @include wrap;
  margin-bottom: 7px;
}

.inner-header__top {
  padding-top: 14px;
  padding-bottom: 10px;
  border-bottom: 2px dotted $crimson;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8px;
}

.inner-header__img {
  display: block;
}

.inner-header__btn {
  @include btn-aсtivate(13px, 7.5px);
  @include status-btns-zoom;
  letter-spacing: -0.3px;
}
