.main-header {
  @include wrap;
  padding-top: 22px;
  padding-bottom: 16px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: inherit;
  height: 77px;
}

.main-header__img {
  display: block;
  margin-right: 17px;
}

.main-header__heading {
  color: $blue;
  font-weight: 700;
  text-transform: uppercase;
  height: 35px;
  padding-left: 14px;
  border-left: 1px solid $blue;
  display: inline-flex;
  align-items: center;
}
