.score {
  margin-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
}

.score__img {
  position: relative;
  width: 43px;
  margin-right: 7px;
  outline: none;
  cursor: pointer;

  &::before {
    content:'';
    position: absolute;
    width: 15px;
    height: 27px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 2;
    right: 0;
    bottom: 0;
  }

  &:hover .score__arrivals-money,
  &:focus .score__arrivals-money {
    display: block;
  }
}

.score__user-avatar {
  display: block;
  position: relative;
  border-radius: 50%;
}

.score__arrivals-money {
  position: absolute;
  color: $black;
  z-index: 3;
  width: 145px;
  height: 128px;
  background-color: $white;
  padding: 11px 14px 11px 8px;
  top: 44px;
  display: none;

  &::before {
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid $white;
    position: absolute;
    top: -9px;
    left: 16px;
    z-index: 3;
  }
}

.score__earned {
  position:relative;
  padding-left: 21px;
  margin-bottom: 9px;

  b {
    font-weight: 700;
    margin-bottom: 2px;
    display: inline-block;
    vertical-align: middle;
  }

  &::before {
    content:'';
    position: absolute;
    width: 15px;
    height: 27px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 2;
    left: 0;
  }
}

.score__status {
  @include text(10px, 10px);
  margin-top: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid $lightgrey;
}

.score__logout-btn {
  @include btn-outline($dodgerblue);
  width: 100%;
  text-align: center;
}

.score__col {
  padding-top: 6px;
  padding-bottom: 6px;

  &--right {
    width: 107px;
  }
}

.score__col--left {
  width: 117px;
  position: relative;
  outline: none;
  margin-right: 7px;
  cursor: pointer;

  &:hover .score__withdraw,
  &:focus .score__withdraw {
    display: block;
    cursor: pointer;
  }

  &:hover .score__withdraw::before,
  &:focus .score__withdraw::before {
    display: block;
  }

  &::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 25px;
    z-index: 2;
    background-color: $lightgrey;
    right: -2px;
    top: 7px;
  }
}

.score__withdraw {
  position: absolute;
  background-color: $white;
  width: 143px;
  height: 50px;
  padding: 10px 9px;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 3;
  top: 42px;
  left: -13px;
  box-shadow: 0 17px 46px rgba(29, 100, 166, 0.52);
  display: none;

  &::before {
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid $white;
    position: absolute;
    top: -9px;
    left: calc(50% - 5px);
    z-index: 3;
  }
}

.score__btn {
  font-weight: 700;
  color: $white;
  background: $blue;
  border-radius: 4px;
  padding: 8px 25px;
  border: 0;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 62px);
}

.score__text {
  @include text(12px, 12px);
  letter-spacing: -0.3px;
  color: $greycolor;
  margin-bottom: 3px;
  display: inline-block;
  vertical-align: middle;
}

.score__balance {
  letter-spacing: -0.3px;
  font-weight: 700;
  color: $darkgrey;
  vertical-align: top;

  &--available {
    color: $dodgerblue;
  }
}




