.social {
  @include ul-line;
  width: 214px;
  margin: 0 auto 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  margin-right: 19px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  width: 39px;
  height: 39px;
  border: 1px solid $dodgerblue;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;

  &:hover,
  &:focus {
    transition: 0.4s;
    border-radius: 50%;
    cusror: pointer;
  }

  &:active {
    border-width: 2px;
  }
}

.social__icon {
  display: block;
}
