@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamProBlack';
  src: url('../fonts/GothamProBlack.woff') format('woff'),
    url('../fonts/GothamProBlack.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamProMedium';
  src: url('../fonts/GothamProMedium.woff') format('woff'),
    url('../fonts/GothamProMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GothamProBold';
  src: url('../fonts/GothamProBold.woff') format('woff'),
    url('../fonts/GothamProBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
