@mixin wrap {
  padding-left: 30px;
  padding-right: 30px;
}

@mixin ul-line {
  margin-top: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

@mixin text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}
