@mixin wrap {
  padding-left: 29px;
  padding-right: 30px;
  width: inherit;
}

@mixin ul-line {
  margin-top: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

@mixin text($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin status-btns-zoom {
  transition: 0.8s;

  &:hover,
  &:focus {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    transition: 0.8s;
    transform: scale(0.8);
  }
}

@mixin btn-big-blue {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: $white;
  width: 100%;
  background: $dodgerblue;
  border-radius: 4px;
  padding: 26px 20px;
  cursor: pointer;
}

@mixin btn-a—Åtivate($indents-v, $indents-h) {
  font-size: 12px;
  line-height: 12px;
  color: $white;
  background-color: $crimson;
  border-radius: 4px;
  padding: $indents-v $indents-h;
  display: inline-flex;
  align-self: center;
  word-break: break-all;
}

@mixin btn-outline($color) {
  display: inline-block;
  vertical-align: center;
  font-weight: 700;
  color: $color;
  padding: 6.5px 30px;
  border-radius: 4px;
  border: 1px solid $color;

  &:hover,
  &:focus {
    border-style: dashed;
    cursor: pointer;
  }

  &:active {
    border-style: solid;
    transition: 0.8s;
    transform: scale(0.8);
  }
}
