// fonts
$font-face: 'GothamPro', 'Arial', sans-serif;
$ff-black: 'GothamProBlack', 'Arial', sans-serif;
$ff-medium: 'GothamProMedium', 'Arial', sans-serif;
$ff-bold: 'GothamProBold', 'Arial', sans-serif;

// colors
$white: #ffffff;
$black: #000000;

$blue: #1d88eb;
$indianred: #ed3e76;
$grey: #323233;
$dodgerblue: #1d8ef9;
$lavender: #e1eefa;
