// fonts
$font-face: 'Gotham Pro', 'Arial', sans-serif;
$ff-black: 'Gotham Pro Black', 'Arial', sans-serif;
$ff-medium: 'Gotham ProMedium', 'Arial', sans-serif;
$ff-bold: 'Gotham Pro Bold', 'Arial', sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$blue: #1d88eb;
$indianred: #ed3e76;
$grey: #323233;
$lightgrey: #d1d1d1;
$dodgerblue: #1d8ef9;
$lavender: #e1eefa;
$crimson: #ed2d52;
$greycolor: #7f7f7f;
$darkgrey: #585858;
$lightblue: #179bd5;
$royalblue: #1d7ed7;
