@import '../base/normalize.scss';
@import '../base/variables.scss';
@import '../base/mixins.scss';
@import '../base/global.scss';
@import '../base/fonts.scss';
@import '../blocks/main-header.scss';
@import '../blocks/main-auth.scss';
@import '../blocks/social.scss';
@import '../blocks/login-form.scss';

.footer-help__wrap {
  @include wrap;
  text-align: center;
  margin: 0 auto;

  hr {
    margin: 0;
    height: 2px;
    color: $lightgrey;
    margin-bottom: 5px;
  }
}

.footer-help__btn {
  display: inline-block;
  vertical-align: center;
  font-weight: 700;
  color: $dodgerblue;
  padding: 5px 25px;
  border-radius: 4px;
  border: 1px solid $dodgerblue;
}
